<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

    <h1>Student Portal</h1>
    <form >
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>

  <label for="grad">Graduation Year:</label><br>
  <input type="date" id="grad" name="grad"><br>

  <label for="major">Major:</label><br>
  <input type="text" id="major" name="major"><br>
  <form>
    <h2>Job Interests</h2>
  <input type="checkbox" id="Android" name="Android" value="Android">
  <label for="vehicle1"> Android Developement </label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> Ios Developement</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3">   Software Enginerring</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3">   Cyber Security</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Data Scientist</label>

  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Web Developement</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Web Designer</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> DevOps Engineer</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Java Developer</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Game Designer</label>

  <input type="checkbox" id="Android" name="Android" value="Android">
  <label for="vehicle1"> Android Developement Intern </label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> Ios Developement Intern </label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Software Enginerring Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Cyber Security Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Data Scientist Intern</label>

  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Web Developement Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Web Designer Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> DevOps Engineer Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Java Developer Intern</label>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Game Designer Intern</label>
</form>



</form>
<form>
      <h2>What do you need help with?</h2>
  <input type="checkbox" id="Android" name="Android" value="Android">
  <label for="vehicle1"> Internship </label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> Full-time Job</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3">  Personal Project</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3">  Resume</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Assignment</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> Mentorship</label><br>

</form>

<form>
  <h2>Contact Information</h2>
  <form >
  <label for="pnumber">Number:</label><br>
  <input type="number" id="pnumber" name="pnumber"><br>
  <label for="emaill">Email:</label><br>
  <input type="email" id="emaill" name="emaill"><br>

  <label for="git">GitHub Link:</label><br>
  <input type="url" id="git" name="git"><br>

 
  <label for="sresume">Resume:</label><br>
  <input type="file" id="sresume" name="sresume"><br>
</form>

<%- include('layouts/footer.ejs') %>