<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container" style="padding-bottom: 2%;">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
          	<h1> " "</h1>
            <h1>Whats your dream Job?</span></h1>
            <p class="lead my-4">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ""
            </p>
            <button
              class="btn btn-primary btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#enroll"
            >
             Sign Up 
            </button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="img/download.jpg"
            alt=""
          />
        </div>
      </div>
    </section>
  <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-dark text-light" style="padding-bottom: 5%;">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                  

                </div>

                <h3 class="card-title mb-3">FrontEnd</h3>
                <div> 
                <ul style="padding-right: 15%; padding-bottom: 2%;">
                <ol>HTML</ol>
                <ol>CSS</ol>   
                <ol>JavaScript</ol>             
              </ul>
               
                <a href="#" class="btn btn-primary">Links</a>
              </div>
            </div>
          </div>

      </div>
          <div class="col-md">
            <div class="card bg-dark text-light" style="padding-bottom: 5%;">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">BackEnd</h3>
              <ul style="padding-right: 15%; padding-bottom: 2%;">
              <ol >Java</ol>
              <ol>Python</ol> 
              <ol>JavaScript</ol>               
              </ul>
                <a href="#" class="btn btn-primary">Links</a>
              </div>
            </div>
          </div>
          <div class="col-md" style="text-align: center;">
            <div class="card bg-dark text-light" style="padding-bottom: 5%;">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">FrameWorks</h3>
                                <ul style="padding-right: 15%; padding-bottom: 2%;">
                <ol>Django</ol>
                <ol>Flask

                </ol>
                <ol>Bootstrap</ol>                
              </ul>
                <a href="#" class="btn btn-primary">Links</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<div class="reviews">
<div class="card bg-dark text-light padding-bottom: 2%;">
<h2 style="text-align: center; padding-top: 2%; padding-bottom: 2%;">   Review from Previous Students</h2>
<p style="text-align: center; padding-bottom: 2%;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."-Student 1
<p style="text-align: center;">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et"-Student 2</p>
</p>
 </div></div>
 <div></div>

<%- include('layouts/footer.ejs') %>